


.card {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}



#books {
    display: flex;
    gap: 10px;
    /* background-color: aqua; */
}

.book {
    display: flex;
    flex-direction: column;
}

.read {
    color: rgba(128, 128, 128, 0.856);
    background-color: rgba(69, 141, 117, 0.562);
}

.hidden {
    display: none;
}
